<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/task.css' %}">

<html>
<head>
  <title>Foraging Task</title>
</head>
<body onload="initTask()">
  <div class="progress-bar">
    <div class="progress-fill" id="progressFill"></div>
  </div>

  <div class="instructions-text">
    <img src="{% static 'images/instructions_image.png' %}" alt="Instructions Image">
    <br>
      You want to pick as many ripe "berries" as you can, as fast as you can.<br>
      Bright red squares are ripe, dimmer red squares are unripe and not good.<br>
      You have 10 minutes for the task. When you want to move to the next patch click on the "next patch" button in the lower right corner of the screen. The transition from one patch to another takes 10 seconds. The yellow bar at the top of the screen marks the time that has elapsed out of the 10 minutes allowed to complete the task.<br>
      Remember, your task is to pick as many ripe "berries" as possible!    
    <br>
    <br>
    <button class="start-task-button" onclick="taskManager.startTask()">Start Task</button>
  </div>

  <div class="end-text">
    <br>
    <br>
    <br>
    Task finished - thank you
  </div>

  <canvas id="matrixCanvas" width="500" height="500"></canvas>

  <div class="circle">
    <div class="fill"></div>
  </div>
    
  <div class="buttons-container">   
    <button class="stop-task-button" onclick="taskManager.endTask()">Stop Task</button>
    <button class="next-patch-button" onclick="taskManager.clickNextPatch()">Next Patch</button>
  </div>
</body>
</html>

<audio id="errorSound" src="{% static 'sounds/error.mp3' %}"></audio>
<audio id="correctSound" src="{% static 'sounds/correct.wav' %}"></audio>
<audio id="neutralSound" src="{% static 'sounds/neutral.wav' %}"></audio>

<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/TaskManager.js' %}"></script>
<script src="{% static 'js/MatrixBuilder.js' %}"></script>
