<!-- draw_matrix.html -->
<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<html>
<head>
  <title>Foraging Task</title>
</head>
<body onload="initTask()">
  <div class="progress-bar">
    <div class="progress-fill" id="progressFill"></div>
  </div>

  <div class="task-frame">
    <div class="task-text">Some text</div>
    <canvas id="matrixCanvas" width="500" height="500"></canvas>
    <div class="circle">
      <div class="fill"></div>
    </div>
  </div>
    
  <div class="buttons-container">   
    <button class="stop-task-button" onclick="taskManager.endTask()">Stop Task</button>
    <button class="start-task-button" onclick="taskManager.startTask()">Start Task</button>
    <button class="next-patch-button" onclick="taskManager.clickNextPatch()">Next Patch</button>
  </div>
</body>
</html>

<audio id="errorSound" src="{% static 'sounds/resources_SOUNDS_error.mp3' %}"></audio>
{% comment %} <script src="{% static 'js/script.js' %}"></script> {% endcomment %}
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/TaskManager.js' %}"></script>
<script src="{% static 'js/MatrixBuilder.js' %}"></script>



