{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">

<!DOCTYPE html>
<html>
<head>
    <title>Experiment</title>
</head>
<body onload="initExperimentManager()">
    <h1>Welcome</h1>
    <div class="instructions">
        <p>
            This experiment involves two parts:
            <br/>
            1) Completeing a visual task.
            <br/>
            2) Filling out 3 questionnaires.
            <br/>
            <br/>
            Instructions for each part will be given at the beginning of each task.
            <br/>
            Click "Start" in order to start the experiment. After you finish each part, click "Next" to continue.
        </p>
    </div>
    <br />    
    <div>
        <button class="next-button" onclick="navigateTo('foraging_task')">Start</button>
    </div>
</body>
</html>

<script src="{% static 'js/ExperimentManager.js' %}"></script>
